@import "tailwindcss";

/* Letras Cursiva Principal */
.luxurious-script-regular {
  font-family: "Luxurious Script", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Letra Cursivas Secundarias */
.playfair-display-main {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.explora-regular {
  font-family: "Explora", serif;
  font-weight: 1000;
  font-style: bold;
}


